<form #SubmitRegistrationForm="ngForm"  (ngSubmit)="onSubmitRegistration()">
       
          <div class="form-group">
            <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input matInput="text" [(ngModel)]="currentCategory.name" name="name" 
            required #nameField="ngModel">
            <mat-error *ngIf="nameField.invalid">
              Please Enter Category name
            </mat-error>
          </mat-form-field>
            </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Source Language</mat-label>
              <input matInput name="SourceLanguage" type="text"
                   class="field" value="English" readonly>
            </mat-form-field>
          </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Target Language</mat-label>
                <input matInput name="TargetLanguage" type="text"
                     class="field" value="Hebrew" readonly>
              </mat-form-field>
          </div>
        
        <div class="add">
          <h3>Words</h3>
          <button mat-fab type="button"
          (click)="addTranslatedWord()">
           <mat-icon>add</mat-icon>
          </button>
        </div>
       
      <div *ngFor="let word of currentCategory.words; index as i"
      class="addWord">
      <mat-form-field appearance="outline">
        <mat-label>Origin:</mat-label>
        <input matInput [(ngModel)]="currentCategory.origin"
         name="origin{{1}}" 
         required lang="English"
         #originField="ngModel"
         pattern="^[a-zA-Z]+$">
         <mat-error *ngIf="originField.invalid">
          Please Enter Only English Text
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Target:</mat-label>
        <input matInput [(ngModel)]="currentCategory.target" 
        name="Target{{1}}" 
        required lang="Hebrew"
         #targetField="ngModel"
         pattern="^[\u0590-\u05FF]+$">
         <mat-error *ngIf="targetField.invalid">
          Please Enter Only Hebrew Text
        </mat-error>
      </mat-form-field>


<button 
type="button" color="black"
mat-icon-button
(click)="removeTranslatedWord(1)">
<mat-icon>delete</mat-icon>
</button>
      </div>

      <button type="submit"
       mat-raised-button 
       color = "grey" [disabled]="SubmitRegistrationForm.invalid">
<a routerLink="/">save</a>
</button>
</form> 
