<form #f="ngForm" (ngSubmit)="onSubmitRegistration()">
       
          <div class="form-group">
            <label>Category Name</label>
            <input matInput [(ngModel)]="category.name" name="CategoryName" type="text"
                   class="form-control">
                   <div class="error" *ngIf="f.submitted">
                    <span>category name is required</span>
                    <div>
                      {{category.name}}
                    </div>
                  </div>
    </div>
          <div class="form-group">
            <label>Source Language</label>
            <input  name="SourceLanguage" type="text"
                   class="field" value="English" readonly>
          </div>
         
        <div class="form-group">
          <label>Target Language</label>
          <input name="TargetLanguage" type="text"
                 class="field" value="Hebrew" readonly>
        </div>
      <div>

      </div>
        <div class="form-group">
          <label>Words</label>
          <input name="Words" type="text"
                 class="form-control">
        </div>
<button
type="submit" mat-raised-button 
color = "grey">
save
</button>
</form>
