.error{
    color: red;
    font-size: 10px;
}

.form-group{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  
  padding: 10px;
  }
  
 .addWord{
    display: flex;
    gap: 8px;
   
 }

 .add{

    display: flex;
    gap: 16px;
 }
 